.app{
    &-block{
        border: 1px solid $grey-color-secondary;
        border-radius: 20px;
        background-color:$light-color;
        text-align: center;
        padding: 15px 5px;
        margin:5px 10px 25px;
        transition: all 0.3s ease;
        min-height: 120px;
        // border-color: rgba(39,206,125,.3);

        @include notebook{
            display: flex;
            flex-flow: row;
            align-items: center;
            justify-content: space-between;
            text-align: left;
        }

        &:hover{
            box-shadow: 0 0 0 0.2rem rgba(39,206,125,.3);
            border-color: rgba(39,206,125,.3);
        }
    }

    &-title{
        font-size: 16px;
        font-weight: bold;
        text-decoration: none;
        color: inherit;
    }

    &-info {
        display: block;
        font-size: 13px;
        line-height: 1.3;
        color: #666;
    }


    &-logo{
        height: 50px;
        width:120px;
        margin: 0 auto;
        margin-bottom: 10px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        background-image: url('/images/logos/bitcoin.png');
        @include notebook{
            margin:0 20px;
        }
    }

    &-description{
        margin-bottom: 0;    
        @include notebook{
            width: 35%;
        }
    }

    &-btn{
        margin-top:10px;
        @include notebook{
            margin:0 20px;
        }
    }
}