@import 'mixins';
@import 'variables';

.background {
    &-primary {
        background-color: $primary-color;
        color: $light-color;
    }

    &-secondary {
        background-color: $secondary-color;
        color: $light-color;
    }

    &-grey{
        background-color: $grey-color;
    }

    &-image{
        background-image: url('/images/img.png');
        position:relative;
        background-position: center 0%;
        background-repeat: no-repeat;
        background-size: cover;
    }

    &-light{
        background-color: $light-color;
    }

    &-dark{
        background-color: $text-color;
        color: $light-color;
    }
    
}