@import 'mixins';
@import 'variables';
.btn {
    padding: 15px 50px;
    border-radius: 6px;
    margin: 0;
    border:none;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.9px;
    transition: all 0.3s ease;
    @include tablet {
    }
    @include notebook{
        text-align: left;
    }

    &.btn-primary {
        background-color: $primary-color;
        color: $light-color;
        &:hover,
        &:active:focus,
        &:active {
            background-color: darken($primary-color, 10%);
            color: $light-color;
        }
        &:focus{
            box-shadow: 0 0 0 0.2rem rgba(39,206,125,.5);
        }
        &:not(:disabled):not(.disabled):active{
            border-color: $primary-color;
            background-color: $primary-color;
        }
        &:not(:disabled):not(.disabled):active:focus{
            box-shadow: 0 0 0 0.2rem rgba(39,206,125,.5);
        }
    }

    &.btn-link{
        background-color: transparent;
        color: $primary-color;
        font-weight: 400;
        padding: 0;
        &:hover, &:active  {
            color: darken($primary-color, 10%);
            text-decoration: none;
        }
        &:focus{
            text-decoration: none;
        }
    }

    &__lg{
        font-size: 24px;
    }

    &__sm{
        padding: 10px 30px;
        font-size: 14px;
    }

    &__down{
        position: relative;
        margin: 0 auto;
        margin-bottom: 50px;
        &:after{
            content: '';
            position: absolute;
            bottom:-50px;
            top:50px;
            left:50%;
            margin-left:-20px;
            right:0;
            background-image: url('/images/icons/down.svg');
            width: 40px;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center center;
            transition: all 0.3s ease;
        }

        &:hover{
            &:after{
                background-image: url('/images/icons/down2.svg');
            }
        }
    }
}

.col-form-label{
    padding: 10px 0;
}

.form-control:focus{
    border-color: rgba(39,206,125,.3);
    box-shadow: 0 0 0 0.2rem rgba(39,206,125,.3);
}