@import 'mixins';
@import 'variables';
html,
body {
    height: 100%;
    font-size: 18px;
    background-color: $light-color;
}

body {
    color: $text-color;
    font-family: $main-font;
}

textarea{
    resize: none;
}


.vertical {
    &-container {
    }
    &-body {
        position: relative;
        @include tablet {
            padding-top: 70px;
        }
    }
}

.text-highlight {
    font-size: 32px;
    text-align: center;
    margin-bottom: 30px;
    font-weight: 300;
    line-height: 1.3;
    letter-spacing: 1px;
    @include tablet {
        font-size: 42px;
    }
    @include notebook {
        font-size: 56px;
    }
    span {
        font-weight: 500;
    }
    &__primary {
        span {
            color: $primary-color;
        }
    }
    &__light {
        span {
            color: $light-color;
        }
    }
}

.text-md{
    font-size: 20px;
    @include tablet{
        font-size: 24px;
    }
}

.text-grey {
    color: $grey-color-secondary;
    font-size: 14px;
    @include tablet{
        font-size: 16px;
    }
}

.text-primary {
    color: $primary-color!important;
    font-weight: 500;
}
.text-secondary {
    color: $secondary-color!important;
    font-weight: 500;
}


.form-group {
    text-align: left;
}


.table{
    text-align: center;

    td, th{
        display: block;

        @include tablet{
            display: table-cell;
            vertical-align: middle;
        }
    }

    th{
        font-size:16px;
        @include notebook{
            font-size:18px;
        }
    }

    td[data-title]{
        text-align:left;

        &:before{
            content: attr(data-title);
            display: inline-block;
            width: 50%;
            color:$grey-color-secondary;
            font-size:16px;
        }

        @include tablet{
            text-align:center;
            &:before{
                display: none;
            }
        }
    }
}

.text-perc{
    position: relative;
    display: inline-block;

    .perc{
        position: absolute;    
        right: -25px;
        top: -14px;
        font-size: 14px;
        font-weight: 500;
    }
}

.contact-block{
    text-align: center;
    margin: 20px;
    padding: 20px;
    transition:all 0.3s ease;
    position: relative;
    &:hover{
        background-color: darken($grey-color, 3%);
    }

    @include notebook{
        margin: 20px 100px;
    }

    &-link{
        position: absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
    }

    &-text{
        margin:0;
        padding-top: 10px;
        font-weight:300;
    }
}

.btn-center{
    text-align: center;
    @include tablet{
        text-align: left;
    }
}

label{
    font-size:16px;
}