@import 'mixins';
@import 'variables';

footer {
    background: $text-color;
    color: $light-color;
    padding: 15px 0;
    text-align: right;

    p{
        margin: 0;
        font-size: 14px;
    }
}