@import 'mixins';
@import 'variables';
.hero {
    height: auto;
    padding: 80px 0;
    color: $light-color;
    background-position: center 0%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    @include tablet {
        padding: 100px 0;
    }
    &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.2);
    }
    &-title {
        line-height: 1.5;
        font-size: 42px;
        text-transform: uppercase;
        letter-spacing: 1px;
        @include tablet {
            font-size: 56px;
        }
    }
    &-subtitle {
        font-size: 20px;
        font-weight: 300;
        @include tablet {
            font-size: 28px;
        }
    }
    &-table {
        padding: 0 15px 10px;
        margin: 30px 0;
        background-color: rgba(0, 0, 0, 0.4);
        transition: all 0.3s ease;

        @include tablet{
            padding: 10px 30px;
        }

        &:hover{
            background-color: rgba(0, 0, 0, 0.5);
        }

        .table td[data-title]:before{
            width: 70%;
            color:$light-color;
        }

        .table td[data-title=""]{
            @include mobile{
                padding-top: 0;
                border-top:none;
            }
        }

        .table {
            margin: 0;
            th {
                border-top: none;
            }
        }
    }
}


.form-control__transparent {
    background-color: transparent;
    color: $light-color;
}