.icon {
    display: inline-block;
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    width:70px;
    height:70px;

    &__inline{
        margin-left: 30px;
        position: relative;
        &:before{
            content:'';
            position: absolute;
            top:0;
            left:0;
            width:20px;
            height:20px;
        }
    }

    &__location{
        background-image: url('../images/icons/location.svg?v1');
    }
    &__email{
        background-image: url('../images/icons/email.svg?v1');
    }
    &__bitcoin{
        background-image: url('../images/icons/bitcoin-logo.svg');
    }
}
