@import 'mixins';
@import 'variables';

.modal-header{
    padding: 10px 20px;
    border-bottom: 0;
}

.modal-body{
    text-align: center;
    padding-top: 0;
}

.modal-title {
    color: $secondary-color;
}