@import 'mixins';
@import 'variables';
.navbar {
    // transform: translate3d(0, 0, 0);
    background-color: rgba(0, 0, 0, .6);
    @include tablet {
    }
}

.navbar .navbar-nav .nav-link {
    font-size: 16px;
    font-weight: 300;
    padding: 35px 25px;
    color: $light-color;
    text-transform: none;
    transition:all 0.3s ease;
    letter-spacing: 1px;
    &:hover{
        color:$primary-color;
    }
    @include tablet{
        padding: 15px 25px;
    }

    &.active, &.active:focus, &.active:hover{
        color:$primary-color;
    }
}

.navbar-dark .navbar-brand{
    color:$light-color;
    font-size:18px;
    transition: all 0.3s ease;
    width:160px;
    &:hover{
        color:$primary-color;
    }

    @include tablet{
        font-size:22px;
    }

    img{
        width:100%;
    }
}

.navbar-toggler{
    margin: 5px 0;
}