@import 'mixins';
@import 'variables';
.section {
    position: relative;
    padding: 50px 0;
    @include tablet {
        padding: 75px 0;
    }

    &__margin{
        margin: 20px 0 50px;
    }
}

.section-subtitle {
    text-align: center;
    padding-bottom: 20px;
    line-height: 2;
    font-size: 18px;
    font-weight: 300;
    @include tablet {
        padding-bottom: 30px;
        font-size: 20px;
    }
    &__lg {
        font-size: 24px;
        font-weight: 500;
        padding-bottom: 0;
        @include tablet {
            font-size: 28px;
        }
    }
}
