$tablet-width: 768px;
$notebook-width: 992px;
$desktop-width: 1200px;
$mobile-width:375px;

$main-font: 'Roboto', sans-serif;

$primary-color: #27CE7D;
$secondary-color: #f44336;
$text-color: #363636;
$light-color: #fff;
$grey-color: #F5F5F5;
$grey-color-secondary: #777;