<section class="section" id="appsPromo">
    <div class="container">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <h2 class="text-highlight text-highlight__primary">Some <span>title</span></h2>
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <p class="section-subtitle">Some subtitle</p>
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-3"></div>

            <div class="col-lg-6">
                <div class="app-block">
                    <div class="app-logo js-offer-image" style="background-image:url('images/logos/ethereum.png')"></div>
                    <p class="app-description">
                        <span class="app-title js-offer-name">INT EthereumCode eng</span>
                        <br>
                        <span class="app-device js-offer-device">???</span>
                    </p>
                    <button href="" class="btn btn-primary app-btn btn__sm js-offer-link" target="_blank">Download</button>
                </div>
                <br>
            </div>
            <div class="col-lg-3"></div>
            <button href="#apps" data-page-scroll class="btn btn-link btn__lg btn__down" style="display: block;">Show More</button>
        </div>
    </div>
</section>