<section class="section background-grey" id="apps">
    <div class="container">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <h2 class="text-highlight text-highlight__primary">The best <span>apps&nbsp;to&nbsp;earn</span></h2>
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <p class="section-subtitle">Get more cryptocurrencies: BTC, ETH, XRP, etc with the best crypto applications</p>
            </div>
            <div class="col-lg-2"></div>
        </div>
        <div class="row" id="offersContainer">
        </div>
    </div>
</section>

<script type="text/html" id="offer-template">
    <div class="col-sm-6">
        <div class="app-block">
            {{if Picture && Picture.path}}
            <div class="app-logo" style="background-image: url(http://admin.utes.mobi{{:Picture.path}})"></div>
            {{else}}            
            <div class="app-logo"></div>
            {{/if}}
            <p class="app-description">
                <a href="{{:Preview}}" target="_blank" class="app-title" content="nofollow">
                    {{:Title}}
                </a>
                <span class="app-info">
                    {{:Description}}
                </span>
                
                {{!--<span class="app-info">
                    {{:Location}}
                </span>--}}
            </p>
            {{if isAvailableLocation}}
            <a href="{{:Link}}" class="btn btn-primary app-btn btn__sm" target="_blank">Download</a>
            {{else}}
            <button class="btn btn-primary app-btn btn__sm" target="_blank" data-location="{{:Location}}" data-toggle="modal" data-target="#vpnModal">Download</button>
            {{/if}}
        </div>
    </div>
</script>