<section class="section" id="contact-us">
    <div class="container">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <h2 class="text-highlight text-highlight__primary"><span>Contact Us</span></h2>
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <p class="section-subtitle">Our support team will help you to earn more with our features</p>
            </div>
            <div class="col-lg-2"></div>
        </div>
        <div class="row">
                <div class="col-sm-6">
                    <form action="mail.php" method="post" id="contactForm">
                        <div class="form-group">
                            <label for="name" class="bmd-label-floating">Name*</label>
                            <input type="text" class="form-control" name="name" required>
                        </div>
                        <div class="form-group">
                            <label for="email" class="bmd-label-floating">Email*</label>
                            <input type="email" class="form-control" name="email" required>
                        </div>
                        <div class="form-group">
                            <label for="message" class="bmd-label-floating">Message</label>
                            <textarea class="form-control" name="message" rows="5"></textarea>
                        </div>
                        <div class="form-group btn-center">
                            <button type="submit" class="btn btn-primary btn-submit">Send</button>
                        </div>
                    </form>
                </div>
                <div class="col-sm-6">
                        <div class="contact-block">
                            <a href="mailto:info@predictapps.com" class="contact-block-link"></a>
                            <span class="icon icon__email"></span>
                            <p class="contact-block-text">info@predictapps.com</p>
                        </div>
                    <div class="contact-block">
                        <a href="https://goo.gl/maps/in5jmAGSTqw" target="_blank" class="contact-block-link"></a>
                        <span class="icon icon__location"></span>
                        <p class="contact-block-text">Unit F, 11/F, CNT Tower, 338 Hennessy Road, Wan Chai, Hong&nbsp;Kong</p>
                    </div>
                </div>
        </div>
    </div>
</section>