<footer>
    <div class="container">
        <p class="font-sm">&copy; 2018 PredictApps. All rights reserved.</p>
    </div>
</footer>

<script src="scripts/vendors.min.js?v1"></script>
<script src="scripts/main.min.js?v6"></script>
</body>

</html>