<section class="hero section__shadow" style="background-image: url(images/hero_4.jpg?v1);" id="home">
    <div class="vertical-container">
        <div class="vertical-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="hero-title">Earn without risk</h1>
                    </div>
                    <div class="col-md-12 col-lg-9">
                        <p class="hero-subtitle">All you need to do is just choose the application with the most favorable forecast, which our smart machine offers you, download it and start earning!</p>
                        <div class="hero-table">
                            <table class="table table-striped js-promo-hero">
                                <thead>
                                    <tr class="d-none d-md-table-row">
                                        <th scope="col"></th>
                                        <th scope="col">Current</th>
                                        <th scope="col">Change over 24h</th>
                                        <th scope="col">Tomorrow prediction</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td data-title="">
                                            <select class="form-control form-control__transparent js-promo-select" id="cryptocurrency">
                                            </select>
                                        </td>
                                        <td data-title="Current">
                                            <span class="js-promo-current">$0</span></td>
                                        <td data-title="Change for 24h">
                                            <span class="text-perc">
                                                <span class="js-promo-change-day">$0</span>
                                                <span class="perc">
                                                    <span class="js-promo-change-day-perc">%</span>
                                                </span>
                                            </span>
                                        </td>
                                        <td data-title="Tomorrow prediction">
                                            <span class="text-perc">
                                                <span class="js-promo-prediction">$0</span>
                                                <span class="perc">
                                                    <span class="js-promo-prediction-perc">%</span>
                                                </span>
                                            </span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <button href="#apps" data-page-scroll class="btn btn-primary">Learn More</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>