<section class="section background-grey" id="prediction">
    <div class="container">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <h2 class="text-highlight text-highlight__primary">Get <span>prediction</span> every&nbsp;day to&nbsp;<span>earn&nbsp;guaranteed!</span></h2>
            </div>
            <div class="col-lg-1"></div>

            <!-- <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <p class="section-subtitle">Don't lose your chance to be a crypto millionare</p>
            </div>
            <div class="col-lg-2"></div> -->

            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <div class="section__margin js-promo-prediction">
                    <div class="form-group row justify-content-md-center">
                        <div class="col col-sm-5">
                            <label for="cryptocurrency" class="col-form-label text-grey">Select cryptocurrency:</label>
                        </div>
                        <div class="col col-sm-5">
                            <select class="form-control js-promo-select" id="cryptocurrency">
                            </select>
                        </div>
                    </div>
                    <div class="row justify-content-md-center">
                        <div class="col col-sm-6">
                            <p class="text-md">Current price</p>
                            <p class="text-md">Tomorrow price</p>
                        </div>
                        <div class="col col-sm-4 text-center">
                            <p class="text-md js-promo-current">$</p>
                            <p class="text-perc text-md">
                                <span class="js-promo-prediction">$</span>
                                <span class="perc js-promo-prediction-perc">%</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3"></div>

            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <p class="section-subtitle section-subtitle__lg">Don't miss your chance to become a crypto millionaire!</p>
            </div>
            <div class="col-lg-1"></div>
        </div>
    </div>
</section>