<section class="section" id="profitably">
    <div class="container">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <h2 class="text-highlight text-highlight__primary">Get <span>max value</span> with the&nbsp;<span>best&nbsp;app!</span></h2>
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <p class="section-subtitle">Rates of crypto currencies for date and time<br>Just download the appropriate app and earn money today</p>
            </div>
            <div class="col-lg-1"></div>
            <table class="table table-striped" id="cryptotable">
                <thead>
                    <tr class="d-none d-md-table-row">
                        <th scope="col" width="15%"></th>
                        <th scope="col" width="15%">USD</th>
                        <th scope="col" width="15%">BTC</th>
                        <th scope="col" width="17.5%">Change over 24h</th>
                        <th scope="col" width="17.5%">Change over 1h</th>
                        <th scope="col" width="20%"></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <button class="btn btn-link btn__lg" id="more-link">Click for More...</button>
        <button class="btn btn-link btn__lg" style="display:none;" id="less-link">Show Less</button>
    </div>
</section>