<div id="vpnModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-md">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title">Download unavailable</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
            <br>
              <p>
                You can't download this application in your location.
                <br>
                Please use VPN with allowed locations:
              </p>
              <p id="vpnModalLocation">


                <b>United Kingdom</b>, <b>shotoTam eshe</b>
              </p>
          </div>
      </div>
  </div>
</div>